html, body {
	height: 100%;
}
body {
	margin: 10px 20px;
}
body > div {
	min-width: 400px;
	max-width: 800px;
	margin: 0 auto;
}
.title {
	padding-top: 100px;
	margin-bottom: 20px;
}
.dropzoneWrapper {
	margin: 10px auto 60px;
}
.dropzone {
	margin-bottom: 15px;
	min-height: 150px;
	text-align: center;
	border: 5px dotted black;
}
.dropItem {
	display: inline-block;
}
.dropItem .xlsxImg {
	width: 150px;
	height: 150px;
}
.dropItem .fileName {
	color: blue;
}
.tabWrapper .tabHeader .optionTabTitle {
	padding: 10px 10px;
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 150px;
	border: 1px solid gray;
	float: left;
	margin-bottom: -1px;
	text-align: center;
	cursor: pointer;
}
.tabWrapper .tabHeader .optionTabTitle.isOn {
	border-bottom: 1px solid white;
	font-weight: bold;
}
.tabWrapper .tabBody {
	clear: both;
	padding: 15px;
	border: 1px solid gray;
}
.tabWrapper .tabBody input {
	margin-left: 10px;
}

.tabWrapper .tabBody .optionTab {
	display: none;
}
.tabWrapper .tabBody .optionTab.isOn {
	display: inline-block;
}
.tabWrapper .tabBody .optionTab label {
	display: inline-block;
	width: 150px;
	margin: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
}
.tabWrapper .tabFooter {
	text-align: right;
}
button {
	width: 80px;
	height: 40px;
	font-size: 1.2em;
	font-weight: bold;
}
.right {
	text-align: right;
}
.progressWrapper {
	position: fixed;
	min-width: 400px;
	max-width: 800px;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	top: 0;
	z-index: 9;
	display: none;
}
.progress {
	font-weight: bold;
	width: 100%;
	max-width: 800px;
	position: fixed;
	top: 30%;
	text-align: center;
}

.progress > img {
	margin-bottom: 5px;
}