html, body {
	height: 100%;
}
body {
	margin: 10px 15px;
}
body > div {
	min-width: 400px;
	max-width: 800px;
	margin: 0 auto;
}
.title {
	margin-bottom: 15px;
}
.dropzoneWrapper {
	margin: 10px auto 30px;
}
.dropzone {
	margin-bottom: 5px;
	min-height: 150px;
	text-align: center;
	border: 5px dotted black;
}
.dropItem {
	display: inline-block;
}
.xlsxImg {
	width: 150px;
	height: 150px;
}
.dropItem .fileName {
	color: blue;
}
.tabWrapper .tabHeader .optionTabTitle {
	padding: 10px 10px;
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 150px;
	border: 1px solid gray;
	float: left;
	margin-bottom: -1px;
	text-align: center;
	cursor: pointer;
}
.tabWrapper .tabHeader .optionTabTitle.isOn {
	border-bottom: 1px solid white;
	font-weight: bold;
}
.tabWrapper .tabBody {
	clear: both;
	height: 220px;
	padding: 15px;
	border: 1px solid gray;
	position: relative;
	margin-bottom:30px;
}
.tabWrapper .tabBody input {
	margin-left: 10px;
}

.tabWrapper .tabBody .optionTab {
	display: none;
}
.tabWrapper .tabBody .optionTab.isOn {
	display: inline-block;
}
.tabWrapper .tabBody .optionTab label {
	display: inline-block;
	width: 150px;
	margin: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
}
.tabWrapper .tabFooter {
	text-align: right;
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.dropzonButtonWrapper {
	height: 40px;
}
button {
	width: auto;
	min-width: 80px;
	height: 40px;
	font-size: 1.2em;
	font-weight: bold;
	-webkit-appearance: none;
	background-color: #e7e7e7;
	border: 1px solid gray;
	border-radius: 5px;
}
.right {
	text-align: right;
}
.progressWrapper {
	position: fixed;
	min-width: 400px;
	max-width: 800px;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	top: 0;
	z-index: 9;
	display: none;
}
.progress {
	font-weight: bold;
	width: 100%;
	max-width: 800px;
	position: fixed;
	top: 30%;
	text-align: center;
}

.progress > img {
	margin-bottom: 5px;
}
.inlineBlock {
	display: inline-block;
}
.verticalTop {
	vertical-align: top;
}
input[type=radio] {
	margin-right: 3px;
}
.example {
	margin-bottom: 30px;
	display: none;
}
.example img {
	width: 400px;
}
.isOn {
	display: inline-block !important;
}
.dropMessage {
	font-weight: bold;
	display: none;
	color: blue;
	margin-bottom:5px;
}
a {
	color: black;
	text-decoration: none;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}